@media screen and (max-width: 420px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    #lezioni.container,#why.container {
        background-color: hsl(60deg 59% 88%);

    }

.row{
    width: 100%;
    
}

    #lezioni .row>.left,
    #lezioni .row>.right, 
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
    width: 100%;
    }

}