@media screen and (max-width: 420px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    #lezioni.container,#why.container {
        background-color: hsl(60deg 59% 88%);

    }

    img{
        width: 200px;
    }

.row{
    width: 100%;
    margin-top: 0px;
    padding: 20px;
}

    #lezioni .row>.left,
    #lezioni .row>.right, 
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
    width: 100%;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
    margin-top: 30px 0px;
    }
}